body {
    background: #f2f2f2;
    font-family: Arial, sans-serif;
}

.container {
    width: 70%;
    margin: auto;
    background: white;
    padding: 20px;
    margin-top: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px gray;
}

h1 {
    text-align: center;
    color: darkblue;
}

h2 {
    color: #0066cc;
    border-bottom: 2px solid #0066cc;
}

p {
    font-size: 16px;
}

li {
    font-size: 16px;
    margin: 5px;
}